
    .hero-wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-height: 100vh;
        overflow: hidden;
        img, video{
            width: 100vw;
            min-height: 100vh;
        }

    
    }

