
    .hero-wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-height: 100vh;
        overflow: hidden;
        img,video{
            min-height: 100vh;
            min-width: 100vw;
        }

    
    }

