
    .hero-wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
       min-height: 100vh;
        overflow: hidden;
        @media (min-width:868px) {
            max-height: 80vh;
        }
        img, video{
            width: 100vw;
            min-height: 100%;
        }

    
    }

