.contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width:868px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .image-contact{
        display: flex;
        justify-content: center;
        margin-top: 20%;
        img{
            width: 50vw;
            height:60vh ;  
            @media (max-width:868px){
                height: 60vw;
                width: 80vw;
                margin-left: 10vw; ;
            } 
        }
        @media (max-width:868px) {
            margin-top: 15%;
        }
    }
}